<div class="login-content">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="login-window">
        <h1>Anmeldung</h1>
        
        <input #email="ngModel" [(ngModel)]="loginData.email" class="input-style" type="email" name="email" id="email" placeholder="beispielname@email.com" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
        <span class="error-text" [ngStyle]="{'visibility': (!email.valid && email.touched) ? 'visible' : 'hidden'}">*Diese E-Mail-Adresse ist leider ungültig.</span>

        <input #password="ngModel" [(ngModel)]="loginData.password" class="input-style" minlength="5" type="password" name="password" id="password" placeholder="Passwort" required>
        <span class="error-text" [ngStyle]="{'visibility': (!password.valid && password.touched) ? 'visible' : 'hidden'}">Falsches Passwort oder E-Mail... Bitte noch einmal versuchen.</span>
    
        <div class="btn-container">
            <input [disabled]="!email.valid || !password.valid"  class="btn-prim" type="submit" name="submit" id="submit" value="Anmelden">
        </div>
    </form>

</div>