@mixin dFlex($fd:row, $jc:center, $ai:center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

.mat-drawer-container {
    height: 100vh;
}

.sidenav {
    width: 300px;
}

.logo-container {
    @include dFlex();
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 16px;
    min-height: 56px;
}

.sidenav-items {
    list-style-type: none;

    li {
        @include dFlex($jc: flex-start);
        gap: 16px;
        padding: 0 16px;
        height: 48px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: none;
        }
    }
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

mat-toolbar-row {
    gap: 16px;
}

.menu-icon {
    cursor: pointer;
}

.router-container {
    // position: relative;  //damit der FAB an diesem Container ausgerichtet wird!
    padding-top: 16px;
    padding-left: 56px;
}