@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.user-detail-header {
    @include dFlex($jc: flex-start, $ai: flex-end);
    min-height: 250px;
    background-color: chocolate;
    color: white;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-details {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 8px;
    height: 100px;
    margin-left: 32px;

    h2 {
        margin-bottom: 0;
    }
}