<mat-card appearance="raised">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            @for (singleUser of allUsers; track singleUser) {
                <tr>
                    <td>{{singleUser['firstName']}} {{singleUser['lastName']}}</td>
                    <td>{{singleUser['email']}}</td>
                    <td>{{singleUser['city']}}</td>
                </tr>
            }
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>