<mat-card appearance="raised">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr>
                <td>sdfsdf</td>
                <td>sdfsasd</td>
                <td>sdfsedrt</td>
            </tr>
            <tr>
                <td>sdfsdf</td>
                <td>sdfsasd</td>
                <td>sdfsedrt</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>